body{
    background-image: url(images/orig_big.png);
    background-color: rgba(180, 180, 180, 0.6);
    background-blend-mode: lighten;
    display: flex;

    align-items: center;
    flex-direction: column;
    margin: 0;
}

.center{
    align-items: center;
    /*flex-direction: column;*/
    margin: 0;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    height: 2296px;
    width: 1296px;
    padding: 50px;
    border-radius: 50px;
    border: 1px solid black;
}



@font-face {
    font-family: 'chunky';
    src: url('fonts/Jacquard12-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'body';
    src: url('fonts/Jersey10-Regular.ttf') format('truetype');
}

.intro a {
    text-decoration: underline;
    background-image: linear-gradient(to right, #8d00ff, #c800ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.3s ease;
}

a:hover {
    color: #ff0dc7;
}

.intro > h1, h2 {
    text-align: center;
    color: #21223a;
    font-family: "chunky", sans-serif;
}

h1 {
    font-size: 80px;
    margin-bottom: -10px;
    margin-top: 100px;
}

h2 {
    font-size: 40px;
}

.assignments {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    place-items: center;
    gap: 2rem;
    margin-top: 100px;
}

.assignments div:hover {
    transform: scale(1.1);
    transition: 1.5s ease;
}

.zero, .one, .two, .three {
    transition: 1.5s ease;
    background-color: #ffcdcd;
    border-radius: 50px;
    border: 1px dashed black;
    height: 400px;
    width: 400px;
}
img {
    border-radius: 50px;
    margin: 50px;
    height: 300px;
    width: 300px;
    align-content: center;

    /*border: 1px dashed #21223a;*/
}

p {
    text-align: center;
    color: #21223a;
    font-family: "body", sans-serif;
    font-size: 25px;
    margin-top: -40px;
}
