body{
    background-image: url(images/orig_big.png);
    background-color: rgba(180, 180, 180, 0.6);
    background-blend-mode: lighten;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.center{
    align-items: center;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    height: 1000px;
    width: 500px;
    padding: 100px;
    border-radius: 20px;
    border: 1px solid #21223a;
}



@font-face {
    font-family: 'chunky';
    src: url('fonts/Jacquard12-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'body';
    src: url('fonts/Jersey10-Regular.ttf') format('truetype');
}

.intro a {
    text-decoration: underline;
    background-image: linear-gradient(to right, #8d00ff, #c800ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.3s ease;
}

a:hover {
    color: #ff0dc7;
}

.intro > h1, h2 {
    text-align: center;
    color: #21223a;
    font-family: "chunky", sans-serif;
}

h1 {
    font-size: 40px;
    margin-bottom: -10px;
    margin-top: -20px;
}

h2 {
    font-size: 20px;
}

.assignments {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    place-items: center;
    /*gap: 1rem;*/
    margin-top: 50px;
    height: 300px;
    width: 500px;
}

.assignments div {
    height: 180px;
    width: 150px;
    border-radius: 20px;
    /*border: 3px dotted #67678a;*/
}


.assignments img:hover {
    transform: scale(1.03);
    transition: 1.5s ease;
}

.assignments img {
    border-radius: 20px;
    height: 120px;
    width: 120px;
    margin-left: 15px;
    margin-top: 15px;
    justify-content: center;
    margin-bottom: -15px;
    transition: 1.5s ease;
    border: 3px dotted #67678a;


}

p {
    text-align: center;
    color: #21223a;
    font-family: "body", sans-serif;
    font-size: 15px;
    margin-bottom: -20px;
}
